<% provide(:title, "１月") %>

<div class="container">
  <div class="row">
    <ul>
    <%= link_to "ほうれん草" , search_path(:vegetables_name => "ほうれん草", :season_name => "january") %>
    <%= link_to (image_tag( "hourensou.png", :alt => "ほうれん草イメージ")), "#" %>
    </ul>
    <ul>
    ミズナ
    <%= image_tag( "mizuna.png", :alt => "ミズナイメージ") %>
    </ul>
    <ul>
    ダイコン
    <%= image_tag( "daikon.png", :alt => "ダイコンイメージ") %>
    </ul>
  </div>
</div>