<% provide(:title, "ラクックとは") %>
<h1>ラクックとは</h1>

<div class="container">
  <div class="row">
  <h3>１年のうち最も栄養価の高い時期に獲れる野菜</h3>
  <p>それが</p>
  <h3>"旬菜"</h3><br>
  <p>献立に困ったとき、旬菜からレシピを決めましょう！</p>
  </div>
</div>
