<% if logged_in? %>
  <%= render 'shared/season_index' %>
<% else %>
  <%= render 'shared/recruit_login' %>
  <center>
    <%# <h1>Welcome！ラクック！</h1> %>
    <h2>今日のレシピを楽〜に決めよう！</h2>
    <p>旬菜から決めるレシピの形</p>
  </center>
<% end %>