<% if logged_in? %>
  <%= render 'shared/seasons' %>
<% else %>
  <%= render 'shared/recruit_login' %>
  <center>
    <h1>Welcome！ラクック！</h1>
    <h2>今日の料理を楽〜に決めよう！</h2>
    <p>旬菜から決める料理の形</p>
  </center>
<% end %>