<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>みんなの料理（<%= @feed_items.count %>）</h3>
        <%= render 'shared/feed' %>
      </div>
      <div class="col-md-3">
        <p><%= link_to "レシピ登録", new_dish_path, class: "btn btn-primary btn-lg btn-record" %></p>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'shared/recruit_login' %>
  <%# <center>
    <h1>Welcome！ラクック！</h1>
    <h2>今日の料理を楽〜に決めよう！</h2>
    <p>旬菜から決める料理の形</p>
  </center> %>
<% end %>