<% @user ||= current_user %>
<div class="stats">
  フォロー：
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat"><%= @user.following.count %></strong>
  </a>
  フォロワー：
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat"><%= @user.followers.count %></strong>
  </a>
</div>