<footer>
  <div class="container">
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <%= link_to "利用規約", terms_path %>
          <small class="block">&copy; 2020 ShingoKubota All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</footer>