<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to(image_tag("", :alt => "ラクックイメージ"), root_url, id: 'logo') %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'ラクックとは', about_path %></li>
        </ul>    
      </nav>
  </div>
</header>
